{
  "env": {
    "es6": true,
      "node": true,
      "browser": true,
      "jquery" : true
    },
    "globals": {
      "Modernizr": true,
      "Placeholders": true,
      "UIkit": true,
      "moment": true,
      "$clamp": true
    },
    "rules": {
      "quotes": [
        2,
      "single"
      ]
    }
}
